body {
    background-color: #ccc;
}

#login-section {
    background-color: white;
    padding: 2%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px darkgrey;
    margin-top: 22%;
}

#validation-summary ul {
    list-style-type: none;
    padding: 0;
}

    #validation-summary ul li {
        color: #ff3131;
        padding: 2%;
    }

#validation-summary #credentials-error {
    color: #ff3131;
    padding: 2%;
}

.custom-hide {
    border: 0;
}

.custom-show {
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
