
@{
    ViewBag.Title = "Guide";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}

<h2>Hakkında</h2>
<h1>
    1)Home tuşu kategori listesine geri dönüş yapar.<br />
  Mert Can AKÇAY
</h1>


