
@{
    ViewBag.Title = "Guide";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}

<h2>Hakkında</h2>
<h1>
    1)Home tuşu kategori listesine geri dönüş yapar.<br />
    Veri tabanına koyup dahil etmediğim bazı şeyler var.Disslike gereksiz geldi.Yoruma yorumda küçük sorunlar yaşadım o yüzden dahil etmedim.Ve son olarak size teşekkür etmek istiyorum hocam herşey için sağolun.<br />Mert Can AKÇAY
</h1>


